@use "../../styles/vars";

.formbox {
  gap: 1rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: vars.$main-white;
  align-items: flex-start;
  .inputBox {
    width: 100%;
    gap: 0.5rem;
    flex-grow: 1;
    .select {
      flex: 1;
    }
    .sir {
      width: 50px;
      display: flex;
      text-align: center;
    }
  }
}
