@use "../../styles/vars";
@use 'sass:color';

.formbox {
  gap: 1rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: vars.$main-white;
  align-items: flex-start;
  .abxList {
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
    .inputBox {
      width: 100%;
      gap: 0.5rem;
      flex-grow: 1;
      .select {
        flex: 1;
      }
      .zone {
        width: 80px;
        text-align: center;
      }
      .sir {
        width: 50px;
        display: flex;
        text-align: center;
      }
      .abxHeader {
        display: flex;
        flex-grow: 1;
      }
      .zoneHeader {
        width: 80px;
        display: flex;
        justify-content: center;
      }
      .sirHeader {
        width: 50px;
        display: flex;
        justify-content: center;
      }
      .btnHeader {
        width: 32px;
      }
    }
  }
}

.green {
   background-color: color.adjust(vars.$success, $lightness: 50%);
}

.red {
   background-color: color.adjust(vars.$altey-red, $lightness: 45%);
}

.orange {
   background-color: color.adjust(vars.$accent-orange, $lightness: 20%);
}

.purple {
   background-color: color.adjust(vars.$altey-purple, $lightness: 35%);
}


